include ./../header
    include ./../delete
    div(class='container') 
      include ./../errors
      div(class="panel panel-default panel-table")
        include ./../headertable
        div(class="panel-body")
          table(class='table table-striped table-bordered table-list')
            thead
              tr 
                th(class='id') Id
                th Nome
                th(class='active_registrer') Ativo
                th(class='actions_registrer') Ações
            tbody
              for user in users
                tr
                  td #{user.id}
                  td #{user.name}
                  td(class='active_registrer') #{user.active ? 'Sim' : 'Não'}
                  td(class='actions_registrer')
                    a(href='user/#{user.id}', title='Editar')
                      img(src='/img/edit.png')
                    &nbsp;&nbsp;
                    a(href='#', onClick='deleteRegistrer(#{user.id})' title='Excluir')
                        img(src='/img/delete.png')  
                    form(action='/sec/user?_method=DELETE', method='post', id='formDelete#{user.id}', class="hidden")
                      input(type='hidden', name='id', value="#{user.id}")
        include ./../footertable