include ./../header
    div(class='container')
      include ./../errors
      form(action='/sec/user#{method}', method='post', class='form-horizontal')
        div(class='form-group')
          div(class='col-sm-1')
            label Id 
            input(type='text', name='id', value=user.id, class='form-control', readonly)
          div(class='col-sm-5')
            label Nome
            input(type='text', name='name', value=user.name, class='form-control', required)
        div(class='form-group')
          div(class='col-sm-3')
            label Usuário
            if user.id
              input(type='text', name='username', value=user.username, class='form-control', readonly)
            else
              input(type='text', name='username', value=user.username, class='form-control', required)
          div(class='col-sm-2')
            label Senha
            if user.id
              input(type='password', name='password', class='form-control', readonly)
            else
              input(type='password', name='password', class='form-control', required)
          div(class='col-sm-1')
            label Ativo
            select(name="active", class='form-control')
              if user.active == undifined || user.active
                option(value='1' selected) Sim
                option(value='0') Não
              else
                option(value='1') Sim
                option(value='0' selected) Não
        div(class='form-group')
          div(class='col-sm-5')
            a(href='/sec/user', class='btn btn-danger pull-right', role='buttom') Cancelar
          div(class='col-sm-1')
            button(type='submit', class='btn btn-success pull-right') Salvar